apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cm9vdA==                   # root
  MYSQL_PASSWORD: bWVzc2FnZQ==                    # message
  DB_HEALTHCHECK_PASSWORD: cEBzc3dvcmQ=           # p@ssword                
