apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
data:
  
  # Mysql init script
  init.sql: |
      -- CREATE USER IF NOT EXISTS 'healthcheck'@'%' IDENTIFIED WITH mysql_native_password BY 'p@ssword';
      CREATE USER IF NOT EXISTS 'healthcheck'@'%' IDENTIFIED BY 'p@ssword';
      GRANT USAGE ON *.* TO 'healthcheck'@'%';
      
      CREATE DATABASE IF NOT EXISTS message;
      USE message;
      
      CREATE TABLE messages (
        id INT AUTO_INCREMENT PRIMARY KEY,
        message TEXT
      );

      -- CREATE USER IF NOT EXISTS 'message'@'%' IDENTIFIED WITH mysql_native_password BY 'message';
      CREATE USER IF NOT EXISTS 'message'@'%' IDENTIFIED BY 'message';
      GRANT ALL PRIVILEGES ON message.* TO 'message'@'%';
      ALTER USER 'message'@'%' IDENTIFIED BY 'message';
      FLUSH PRIVILEGES;
